* {
    margin: 0px;
    font-family: 'Quicksand';
}
body {
    background-color: white;
}
.c{
    background-color: #4A332D;
}  
.a{
    width:100%;
    height:25%; 
}
.z{
    font-size: 15px;
    font-weight: 450;
    color:black;
    margin-top: 5px;
}
.extraspace4{
    width:100%;
    height: 10px;
}
.upcomingeventimg {

    height: 315px;
    width: 347px;
}

.bc{
background-color: rgb(161, 161, 161);
    
}
.ticketorchestratabletd {
    background-color: gainsboro;
    border: 10px;
    border-color: gray;

}
.ticketorchestratabletd3 {
    background-color: white;
    border: 0;
    width:180px;
    padding-top: 30px;
}
.newtd{
    width: 45px;
    background-color: white;
    border: 0;
    height:100%;
}


.upcomingeventtd {
    border: none;
    background-color: white;
    vertical-align: top;
    padding-bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    
}

.upcomingeventtable {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.calendar {
    font-family: arial;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}

td {
    padding-bottom: 80px;
    font-size: 10px;
    text-align: top;
    background-color: whitesmoke;
    width: 100px;
    height: 80px;
    border: 2px solid darkgray;
    color: darkgray;
    vertical-align: top;
}

.tab {
    overflow: hidden;
    background-color: rgb(24, 10, 4)
}

.tabclick {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    font-size: 15px;
}

.selectedtab {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    font-size: 15px;
    background-color:  rgb(60, 45, 38)
}

.tabclick:hover {
    background-color: rgb(60, 45, 38);
}



.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(24, 10, 4);
    min-width: 160px;
    z-index: 2;
    color: white;
    text-align: center;
    height: 140px;

}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color:  rgb(60, 45, 38);
}

.show {
    display: block;
}

tr {
    background-color: whitesmoke;
    color: rgb(63,46,42);
}

th {
background-color: rgb(63, 46, 42);
    font-family:'Taviraj';
    font-weight: lighter;
    font-size: 20px;
    color: rgb(255, 252, 252);

}
.eventsport{
    background-color:  #8d776ce6;
    color:rgb(0, 0, 0); 
    font-family:'Quicksand';
    font-weight: 500;
    border-radius: 3px;
    font-size: 12px;
    border: 2px solid rgb(114, 91, 88);
    text-align: center;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.sport2{
    background-color: #c3b19d;
    font-family:'Quicksand';
    font-weight: 500;
    text-align:center;
    border: 2px solid #91795e;
    color: black;
    border-radius: 3px;
    font-size:12px;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.eventconcert {
    background-color: #9e7980e5;
    color:black;
    border-radius: 3px;
    font-size: 12px;
    border: 2px solid #765b60;
    font-family:'Quicksand';
    font-weight: 500;
    text-align: center;
    border-radius: 3px;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 5px;
}
.eventsport:hover {
    background-color: rgb(114, 94, 88);
    border: 3px solid rgb(68, 57, 49);
    color:black;
}
.sport2:hover{
    background-color: #a28d73;
    border:3px solid #7a664d;
    color:black;
}
.eventconcert:hover{
    background-color:#946870;
    border: 3px solid #5e464b;
    color:black;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    height: auto;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

h1 {

    font-size: 80px;
    font-family: 'Taviraj', serif;
    text-align: center;
    font-weight: 400;
    color: white;


}
.h11 {
padding-top: 170px;
    font-size: 100px;
    font-family: 'Taviraj', serif;
    text-align: center;
    font-weight: 400;
    color: white;


}
.newh1 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(111, 117, 176);
    text-align: center;


}

.text {
    color: white;
    font-weight: 100;
    font-size: 15px;
    padding-top: 30px;
    font-family: 'Quicksand';

    text-align: center;
    margin-top: 7%;
   
}

ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgray;
}

a {
    text-decoration: none;
    color: rgb(111, 117, 176);
}

li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(89, 81, 81);
    font-size: 20px;
    font-weight: bold;
}

.contact {

    color: rgb(255, 255, 255);
    background-color:  rgb(60, 45, 38);
    font-weight: lighter;
    font-size:medium;
    width: auto;
    height: 80px;
    
 
}

.ammenities {
    background-color: whitesmoke;
    color: rgb(102, 109, 167);
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   width: auto;
    height: auto;
}

.ammenitiesheader {
    font-weight: bold;
    font-size: 20px;

}
.ammenitiestext{
    font-size: 16px;
    color:black;
}

h2 {
    color:  rgb(32, 14, 7);
    font-family: 'Taviraj', serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}
.contacthead{
    color:white;
    font-family: 'Taviraj', serif;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    
}
.ticketheaders {
    color: black;
   font-family: 'Taviraj', serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}



.instagram {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 550px;

}

.tiktok {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 650px;

}

.twitter {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 750px;

}

.button {
    background-color:rgb(60, 45, 38);
    color: white;
    border-radius: 3px;
    font-family: 'Quicksand';
    border: none;
    width: 100px;
    height: 45px;
    font-weight: 100;
    font-size: 15px;
    margin-left: 46%;
    margin-top: 50px;
   
}
.button30 {

    background-color:  rgb(24, 10, 4);
    color: white;
    border-radius: 3px;
    font-family: 'Quicksand';
    border: none;
    width: 100px;
    height: 45px;
    font-weight: 100;
    font-size: 15px;
    margin-left: 46%;
    margin-top: 50px;
   
}
.button10 {
    background-color:  rgb(24, 10, 4);
    color: white;
    border-radius: 3px;
    font-family: 'Quicksand';
    border: none;
    width: 100px;
    height: 45px;
    font-weight: 100;
    font-size: 15px;
    margin-left: 50%;
    margin-top: 80px;
   
}
.button2 {
    background-color:rgb(60, 45, 38);
    color: white;
    border-radius: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    width: 100px;
    height: 45px;
    font-size: 15px;
    margin-top: 5%;
}

.buyticketbutton {
    margin-top: 20px;
    background-color: white;
    color: black;
    border-radius: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(84, 37, 27);
    width: 120px;
    height: 45px;
    
    font-size: 15px;
}

.buyticketbutton:hover {
    transition: 0.3s;
    background-color: rgb(60, 45, 38);
    color:white;
}
.button:hover {
    background-color:  rgb(24, 10, 4);
}
button2:hover{
    rgb(24, 10, 4);
}
.calendardown {
    margin-top: 60px;
}

.instagramtext {

    position: absolute;
    left: 600px;
    margin-top: 60px;
}

.tiktoktext {

    position: absolute;
    left: 695px;
    margin-top: 60px;
}

.Xtext {

    position: absolute;
    left: 795px;
    margin-top: 60px;
}

.informationtext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
}

.parking {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 1150px;
}

#seatingchart {
    width: 35%;
    height: 35%;
    border-radius: 6px;
}
.upcomingeventtext {
    color: white;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.seatprice {
    background-color: white;
    border: 1px solid gray;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    width: 400px;
    height: 100px;
}

.pricetext {
    color: rgb(94, 108, 237);
    font-weight: lighter;
}

.pricetext:hover {
    color: rgb(85, 90, 138)
}

.availableseats {
    padding-top: 0px;
    overflow: scroll;
    width: auto;
    height: 800px;
    position: absolute;
    left: 74%;
    top: 5.8%;
}

#homepage {
    background-image: url("gym2.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding-bottom: 40px;
    width: 100%;

}

#ticketbody {
    background-color: rgb(218, 220, 233);
    margin: 0px;
    font-family: 'Quicksand';
}

.bbtext {
    text-align: left;
    color: rgb(62, 65, 92)
}

.ticketheading {
    color: white;
    font-weight: bolder;
    text-align: left;
}

.ticketheading2 {
    color:white;
    font-family: 'Taviraj', serif;
    font-weight: 400;
    text-align: center;
    background-image: url("basketballbanner.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 83px;
}

.ticketheading5 {
    color:white;
    font-family: 'Taviraj', serif;
    font-weight: 400;
    text-align: center;
    background-image: url("orchestrabanner2.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 83px;
}

.ticketheading6 {
    color:white;
    font-family: 'Taviraj', serif;
    font-weight: 400;
    text-align: center;
    background-image: url("volleyballbanner.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 83px;
}
.orchestratable {
  width:100%
 
}


.ticketorchestratext {
    font-size: 20px;
    color: black;
}
.ticketorchestratext2 {
    font-size: 20px;
    color: black;
    text-align: center;
}
.ticketorchestratext2 {
    font-size: 20px;
    color: black;
    text-align: center;
}

.pricedropdown {
    width: 150px;
    height: 100px;
    background-color: white;
    font-family: 'QuickSand';
    color: black;
}

.new {
    color: white;
}

.timeheading {
    background-color: rgb(63, 46, 42);
    color:rgb(12, 12, 17);
    font-weight: lighter;
    border:none;
    height:200px;
    font-weight: 300;
}

.timedata {
    background-color: white;
    font-size:small;
    font-weight: 400;
    color:rgb(85, 85, 85);
    border:1px solid rgb(161, 161, 161);
    width: 200px;
    height: 20px;
}
#rentalbody{
    background-color:rgb(202, 206, 240);
}
.adata{
    padding-top: 3%;
    padding-bottom: 5%;
    background-color:whitesmoke;
    color:  rgb(24, 10, 4);
    font-family:inherit;
    border:none;
    padding-left: 5%;
    padding-right: 5%;
    width:300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
#atable{
    margin-left:auto;
    margin-right:auto;

}
#contact{
    margin-left:auto;
    margin-right:auto;
}
.contactdata{
    border:none;
    background-color:darkslateblue;
    font-family:inherit;
    color:inherit;
    height: 3px;
 
}
.extraspace{
    width: 100%;
    height: 30px;
}
.location{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.textcenter{
    width:80%;
margin-left: auto;
margin-right: auto;
}
.trcontact{
    margin-left: auto;
    margin-right: auto;
}
.textcenter2{
padding-top: 15px;
margin-left: auto;
margin-right: auto;
text-align: center;
color: white;
}
.textcenter3{
    width:80%;
}
.background{
    background-color: white;
}
.background2{
    background-color: white;
    border: 2px;
    height: 80px;

}
.ticketborder{
    background-color: gray;
    height: 1px;
}
.seatingchartnew{
    margin-top: 50px;
   padding-left: 180px;
   width: 650px;
   height: 550px;
   transition: transform 2s;
   
}
.seatingchartnew:hover{
    transform: scale(1.25);
}
.orchestra2{
    margin-bottom: 30px;
    background-color: white;
    height:650px;
    border:0;
    width: 110px;
    padding-top: 30px;
    text-align: center;
}
.concertext{
    color: black;
    font-size: 15px;
}
.extraspace2{
    width: 100%;
    height: 20px;
}
.extraspace3{
    width: 100%;
    height: 30px;
    background-color: darkslateblue;
}
.contacttext{
    font-weight: 500;
}
    #formtext{
    color:rgb(63, 46, 42);
    font-weight:lighter;
    padding-top:30px;
    text-align:center;
}
.width{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.input{
    width:auto;
    height:30px;
    background-color:rgb(247, 250, 250);
}
.newtable2{
    margin-left: auto;
    margin-right: auto; 
}
.newtd2{
     border: 0;
    background-color: white;
    font-family: 'quicksand';
    color: black; 
    font-size: 20px;
    width: 300px;
    padding-left: 60px;
    padding-top: 90px;
    
}
.newtd3{
    border: 0;
    background-color: white;
    width: 350px;
    padding-left: 60px;
    padding-bottom: 20px;
    
}
#formtable{
    margin-left:auto;
    margin-right:auto;
}
.very1{
    height:auto;
    width:auto;
    background-color: whitesmoke;
    border:0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 15px;
    color: black;
}
.very10{
   font-size: 15px;
    background-color:whitesmoke;
    border:0px;
    height: auto;
    width: auto;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: center;
    margin-left: auto;
    margin-left: auto;
   
}

.very11{
    width: 290px;
}
.button3 {
    background-color:  rgb(60, 45, 38);
    color: white;
    border-radius: 3px;
    font-family: 'Quicksand';
    border: none;
    width: 100px;
    height: 45px;
    font-weight: 100;
    font-size: 15px;
 
   
}
.very5{
     font-size: 15px;
    color: black;
    height:auto;
    width:auto;
    background-color:whitesmoke;
    border:0px;
    padding-top: 50px;
}
.very6{
    height:auto;
    width:450px;
    background-color:whitesmoke;
    border:0px;
    padding-top: 50px;
    padding-right: 25px;
}
.labels{
    color:rgb(63, 46, 42);
    font-family:'Taviraj'
}
.very2{
    padding-right:70px;
}
#big{
    width:300px;
    height:100px;
}
.formcolor{
    background-color: whitesmoke;
}
#thanks{
    font-size:70px;
    font-weight:lighter;
    text-align:center;
    margin-top:100px;
}
#yap{
    font-family:'Quicksand';
    text-align:center;
    margin-top:105px;
    font-weight:lighter;
}
.pricing{
    background-color:white;
    border:0px;
 
    width: 400px;
    height:auto;
    color:rgb(63, 46, 42);
    font-family:'Quicksand';
    font-size:15px;
    text-align:left;
}
.yes{
    color:rgb(63, 46, 42);
    font-family:'Taviraj';
    font-weight:lighter;
    text-align:center;
    font-size:25px;
}
.timeyes{
    width:auto;
    height:fit-content;
    background-color:rgb(63, 46, 42);
    color:white;
}
#rapsong{
    color:rgb(63, 46, 42);
    font-family:'Taviraj';
    font-weight:lighter;
    text-align:center;
    font-size:50px;
}
.formcolornew{
    background-color: whitesmoke;
}
#sources{
    text-align:center;
    background-color: whitesmoke;
    font-weight:bold;
    font-size:15px;
    color:#4A332D;
}
#sourceshead{
    color:#4A332D;
}
#rentaltable{
    margin-left:auto;
    margin-right:auto;
}
.tds{
    background-color:whitesmoke;
    border:none;
    padding:30px;
}
#rentaltext{
    color:#4A332D;
}
.rentalinputs{
    width:350px;
    padding: 12px 20px;
    box-sizing: border-box;
    border:none;
    border-bottom:2px #4A332D solid;
}

