*{
    margin:0px;
}
body{
    background-color: white;
}

.tab {
    overflow: hidden;
    background-color:inherit;
}

.tabclick{
    background-color:inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color:white;
    font-size:15px;
}

.tabclick:hover {
    background-color: gainsboro;
}

.calendar{
    font-family: arial;
    border-collapse: collapse;
    width: 1200px;
    height:300px;
}
.subimages{
    width: 350px;
    height: 280px;
    border:10px solid rgb(102, 109, 167);
    border-radius:6px;
}

.subimagetable{
 background-color:rgb(167, 172, 225);
border:0;
}

.subimagetext{
text-align: center;
  font-size: 20px; 
  font-family: Verdana;
  color: white;
}

td {
    padding-bottom:80px;
    font-size:10px;
    text-align:top;
    background-color:whitesmoke;
    width:100px;
    height:80px;
    border: 2px solid darkgray;
    color: darkgray;
    vertical-align:top;
}

tr {
    background-color:whitesmoke;    
}
th{
    background-color:rgb(153, 161, 237);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:lighter;
    font-size:20px;
    color:rgb(111, 117, 176);
}

.eventsport {
    background-color: darkseagreen;
    color: darkgreen;
    border: 1px solid darkgreen;
    font-size: 10px;
    font-family: arial;
    text-align:center;
}

.eventconcert {
    background-color: lemonchiffon;
    color: goldenrod;
    border: 1px solid goldenrod;
    font-size: 10px;
    font-family: arial;
    text-align:center;
    border-radius:3px;
}

.eventsport:hover {
    background-color: #609f60;
}

.eventconcert:hover {
    background-color: #fff280
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    height: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top:-5px;
    left:105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#homepageimage {
    width: 900px;
    height: 620px;
    border:10px solid rgb(102, 109, 167);
    border-radius:6px;
}


h1{
    font-size:50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    margin-left: 40%;
    
}
.text{   
    text-align: center; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgray;
}
a{
    text-decoration:none;
    color:rgb(111, 117, 176);
}
li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(89, 81, 81);
    font-size:20px;
    font-weight:bold;
}
.contact{
    background-color:whitesmoke;
    color:rgb(102, 109, 167);
    font-weight:lighter;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:auto;
    height:120px;
}
h2{
    color:rgb(111, 117, 176);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    text-align:center;
}
.instagram{
    width:50px;
    height:50px;
    position:absolute;
    left:605px;
    
}
.tiktok{
    width:50px;
    height:50px;
    position:absolute;
    left:695px;
    
}
.twitter{
    width:50px;
    height:50px;
    position:absolute;
    left:775px;
    
}
.button{
    background-color:rgb(111, 117, 176);
    color:white;;
    border-radius:3px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:none;
    width:100px;
    height:45px;
    font-size:15px;
}
.button:hover{
    background-color:rgb(102, 109, 167);
}
.homepage{
    background-color:rgb(167, 172, 225)
}
.instagramtext{
    background-color:whitesmoke;
    position:absolute;
    left:600px;
    margin-top: 60px;
}
.tiktoktext{
    background-color:whitesmoke;
    position:absolute;
    left:695px;
    margin-top: 60px;
}
.Xtext{
    background-color:whitesmoke;
    position:absolute;
    left:795px;
    margin-top: 60px;
}