* {
    margin: 10px;
}

body {
    background-color: aliceblue;

}

.tab {
    overflow: hidden;
    background-color: aliceblue;
}

.tab button {
    background-color:inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color:black;
    font-size:15px;
}

.tab button:hover {
    background-color: gainsboro;
}

.calendar{
    font-family: arial;
    border-collapse: collapse;
    width: 1200px;
    height:300px;
}

td {
    padding-bottom:80px;
    font-size:10px;
    text-align:top;
    background-color:whitesmoke;
    width:100px;
    height:80px;
    border: 2px solid darkgray;
    color: darkgray;
    vertical-align:top;
}

tr {
    background-color:whitesmoke;    
}
th{
    background-color:rgb(153, 161, 237);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:lighter;
    font-size:20px;
    color:rgb(111, 117, 176);
}

.eventsport {
    background-color: darkseagreen;
    color: darkgreen;
    border: 1px solid darkgreen;
    font-size: 10px;
    font-family: arial;
    text-align:center;
}

.eventconcert {
    background-color: lemonchiffon;
    color: goldenrod;
    border: 1px solid goldenrod;
    font-size: 10px;
    font-family: arial;
    text-align:center;
    border-radius:3px;
}

.eventsport:hover {
    background-color: #609f60;
}

.eventconcert:hover {
    background-color: #fff280
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    height: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top:-5px;
    left:105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#homepageimage {
    width:600px;
    height:300px;
    border:10px solid rgb(102, 109, 167);
    border-radius:6px;
}
h1{
    text-align:center;
    font-size:50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}
.text{
    position:absolute;
    left:700px;
    top:300px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgray;
}
a{
    text-decoration:none;
    color:rgb(111, 117, 176);
}
li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(89, 81, 81);
    font-size:20px;
    font-weight:bold;
}
.contact{
    background-color:rgb(153, 161, 237);
    border: 3px solid rgb(111, 117, 176);
    width:300px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
h2{
    color:rgb(111, 117, 176);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:auto;
}
.grid{
    display:grid;
    grid-template-columns:600px 600px;
    margin-left:10px;
    margin-right:10px;
}
.grid-item{
    text-align:center;
}
.contactimage{
    width:50px;
    height:50px;
    margin-right:100px;
}
.button{
    background-color:rgb(111, 117, 176);
    color:white;;
    border-radius:3px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:none;
    width:100px;
    height:45px;
    font-size:15px;
}
.button:hover{
    background-color:rgb(102, 109, 167);
}
.homepage{
    background-color:rgb(167, 172, 225)
}