* {
    margin: 0px;
    font-family:'Quicksand';
}

body {
    background-color: white;
}
.upcomingeventimg{

    height: 200px;
    width: 220px;
}
.upcomingeventtd{
    border:none;
    background-color:gainsboro;
   vertical-align: top;
   padding-bottom:0 ;
   text-align: center;
   padding-right: 50px;
  }
  .upcomingeventtable{
    margin-left:auto;
    margin-right:auto;
    padding-top: 30px;
  }

.calendar {
    font-family: arial;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    
}

td {
    padding-bottom: 80px;
    font-size: 10px;
    text-align: top;
    background-color: whitesmoke;
    width: 100px;
    height: 80px;
    border: 2px solid darkgray;
    color: darkgray;
    vertical-align: top;
}
.tab {
    overflow: hidden;
    background-color: darkslateblue;
}
.tabclick{
    background-color:inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color:white;
    font-size:15px;
}
.selectedtab{
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color:white;
    font-size:15px;
    background-color:rgb(111, 117, 176);
}
.tabclick:hover {
    background-color:rgb(111, 117, 176);
}


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color:none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}

tr{
    background-color: whitesmoke;
}

th {
    background-color: rgb(153, 161, 237);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: rgb(111, 117, 176);

}

.eventsport {
    background-color: darkseagreen;
    color: darkgreen;
    border: 1px solid darkgreen;
    font-size: 10px;
    font-family: arial;
    text-align: center;
}

.eventconcert {
    background-color: lemonchiffon;
    color: goldenrod;
    border: 1px solid goldenrod;
    font-size: 10px;
    font-family: arial;
    text-align: center;
    border-radius: 3px;
}

.eventsport:hover {
    background-color: #609f60;
}

.eventconcert:hover {
    background-color: #fff280
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width:200px;
    height:auto;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
h1 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align:center;
    margin-top:7%;

}

.text {
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    margin-top:7%;
}

ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgray;
}

a {
    text-decoration: none;
    color: rgb(111, 117, 176);
}

li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(89, 81, 81);
    font-size: 20px;
    font-weight: bold;
}

.contact {

    color: rgb(102, 109, 167);
    background-color: whitesmoke;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:auto;
    height:200px;
}

.ammenities {
    background-color: whitesmoke;
    color: rgb(102, 109, 167);
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: auto;
    height: auto;
}

.ammenitiesheader {
    font-weight: bold;
    font-size: 20px;

}

h2 {
    color: rgb(111, 117, 176);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-align:center;
}

.instagram {
    width: 50px;
    height: 50px;
    position: absolute;
    left:550px;

}

.tiktok {
    width: 50px;
    height: 50px;
    position: absolute;
    left:650px;

}

.twitter {
    width: 50px;
    height: 50px;
    position: absolute;
    left:750px;

}

.button {
    background-color: rgb(111, 117, 176);
    color: white;
    border-radius: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    width: 100px;
    height: 45px;
    font-size: 15px;
    margin-left:46%;
    margin-top:3%;
}
.buyticketbutton {
    background-color: rgb(111, 117, 176);
    color: white;
    border-radius: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    width: 100px;
    height: 45px;
    font-size: 15px;
}
.buyticketbutton:hover{
    background-color:rgb(82, 87, 130)
}

.button:hover {
    background-color: rgb(102, 109, 167);
}
.calendardown {
    margin-top: 60px;
}

.instagramtext {

    position: absolute;
    left: 600px;
    margin-top: 60px;
}

.tiktoktext {

    position: absolute;
    left: 695px;
    margin-top: 60px;
}

.Xtext {

    position: absolute;
    left: 795px;
    margin-top: 60px;
}

.informationtext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
}

.parking {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 1150px;
}

#seatingchart {
    width: 35%;
    height: 35%;
    border-radius: 6px;
}
.gridcontainer{
    display:grid;
    grid-template-columns:700px 700px;
    grid-template-rows:500px;
    background-color:none;
    border:none;
}
.sqaures{
    width:500px;
    height:600px;
    background-color:none;
    border:none;
    color:rgb(102, 109, 167)
}
.upcomingeventtext{
    color:gray;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.seatprice{
    background-color:white;
    border:1px solid gray;
    color:gray;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
    width:400px;
    height:100px;  
}
.pricetext{
    color:rgb(94, 108, 237);
    font-weight:lighter;
}
.pricetext:hover{
    color:rgb(85, 90, 138)
}
.availableseats{
    padding-top:0px;
    overflow:scroll;
    width:auto;
    height:800px;
    position:absolute;
    left:71%;
    top:6%;
    border-radius:10px;
}
#homepage{
    background-image:url("gym.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    padding-bottom: 40px;
    margin-top:0px;

}
#ticketbody{
    background-color:rgb(218, 220, 233);
    margin:0px;
    font-family:'Quicksand';
}
.bbtext{
    text-align:center;
    color:rgb(62, 65, 92)
}
